<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gateoneExample</title>
    <script src="/static/js/gateone.js"></script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
</head>
<body>
<div id="gateone_container" style="position: relative; width: 77em; height: 40em;">
    <div id="gateone">

    </div>
</div>
<script>
    $(
        function () {
            GateOne.init(
                {url: "https://10.66.3.131"}
            )
        }
    )
</script>
</body>
</html>